.grid-map{
  display: grid;
  margin-top: 2rem;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: silver;
  padding: 2px;
}

.field {
  text-align: center;
  width: 3rem;
  height: 3rem;
  padding-top: 0.9rem;
}