.grid-map{
  display: grid;
  margin-top: 2rem;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: silver;
  padding: 2px;
}

.field {
  text-align: center;

  img{
    width: 100%;
    height: auto;
    //filter: sepia(100%);
  }
}